.ui-widget {
	font-size: 14px !important;
	text-align: left;
}

.ui-tree {
	width: 600px !important;
}

.normal {
	font-style: italic;
	color: #000000 !important;
}

.avencer {
	font-style: italic;
	color: #FF8C00 !important;
}

.vencido {
	font-style: italic;
	color: #B22222 !important;
}

.ui-state-highlight .ui-icon{
	background-image: url("/siago/javax.faces.resource/images/ui-icons_333333_256x240.png.governo?ln=primefaces-bootstrap") !important;
}


.alinhar-esquerda {
	text-align: left;
}

.alinhar-direita {
	text-align: right;
}

.alinhar-centro {
	text-align: center;
}

.valor {
	font-weight: bold;
}

.novaLinhaTabela{
	white-space: normal !important;
}

span>fieldset {
	padding: 0.6em 1em;
	border-radius: 4px;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DDDDDD;
	color: #333333;
}

span>fieldset>legend {
	font-size: 12px;
	font-weight: bold;
}

label  {
    color: #000040;
    text-decoration: none;
    font-size: 12px;
    text-align: left;
}

.obrigatorio{
	color: red;
	font-weight: bold;
	
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border-radius:10px !important;
	
}

.ui-selectonemenu .ui-selectonemenu-trigger{
	width: 25px;
}

/**

AREA DOS BOT�ES
*/

.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
}
.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}
.btn3d:active {
    top:9px;
}
.btn-default {
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}
.btn-primary {
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
}
 .btn-success {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5cb85c;
}
 .btn-info {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5bc0de;
}
.btn-warning {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#f0ad4e;
}
.btn-danger {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#c63702;
}


